/*=========== cons blog area css ===========*/
.cons_blog_area {
  padding: 100px 0px;
  &.pb_200 {
    padding-bottom: 200px;
  }
}
.cons_blog_item {
  .img_hover {
    margin-bottom: 31px;
  }
  .post_date {
    margin-bottom: 21px;
  }
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 0;
    transition: color 0.3s linear;
  }
  &:hover {
    .img_hover {
      &:before {
        opacity: 1;
      }
      img {
        transform: scale(1.06);
      }
    }
    h3 {
      color: $orange;
    }
  }
}
.post_date {
  font-size: 14px;
  color: #7e8288;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  font-weight: 600;
}
.img_hover {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  display: block;
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(242, 117, 7, 0.6);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s linear;
  }
  img {
    transition: all 0.6s linear;
    position: relative;
    z-index: 0;
  }
}
/*=========== cons blog area css ===========*/

/*=========== cons blog area two css ===========*/
.cons_blog_area_two {
  padding: 100px 0px;
}
.cons_blog_item_two {
  align-items: center;
  cursor: pointer;
  .img {
    border-radius: 2px;
    overflow: hidden;
    margin-right: 50px;
    transition: all 0.2s linear;
  }
  .media-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .text {
      flex: 1;
      padding-right: 97px;
      h4 {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 25px;
        transition: color 0.2s linear;
        &:hover {
          color: $orange;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  &:hover {
    .img {
      box-shadow: 0px 45px 150px 0px rgba(30, 34, 40, 0.2);
    }
  }
  & + .cons_blog_item_two {
    margin-top: 50px;
  }
}
/*=========== cons blog area two css ===========*/

/*=========== cons_blog_item_three css ===========*/
.cons_blog_item_three {
  align-items: center;
  cursor: pointer;
  .media-left {
    border-radius: 2px;
    margin-right: 50px;
    overflow: hidden;
  }
  .post_date {
    width: 200px;
    background: #f2e1c2;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $orange;
    text-transform: capitalize;
    padding: 60px 10px;
    span {
      display: block;
      font-size: 18px;
      line-height: 19px;
    }
  }
  .media-body {
    align-items: center;
    .text {
      width: calc(100% - 200px);
      padding-right: 100px;
    }
    h4 {
      font-size: 18px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 24px;
      transition: color 0.3s linear;
    }
    p {
      font-size: 18px;
      margin-bottom: 0;
    }
    .theme_btn_two {
      max-width: 170px;
      padding: 8px 34px;
      text-align: center;
    }
  }
  &:hover {
    .media-body {
      .text {
        h4 {
          color: $orange;
        }
      }
    }
  }
  & + .cons_blog_item_three {
    margin-top: 50px;
  }
}
/*=========== cons_blog_item_three css ===========*/
