/*=========== cons_shop_featured_pr_area css  ============*/
.cons_shop_featured_pr_area {
  padding: 100px 0px;
  .theme_btn {
    margin-top: 70px;
  }
}
.shop_pr_item {
  margin-bottom: 30px;
  .shop_img {
    display: block;
    overflow: hidden;
    img {
      border-radius: 2px;
      transition: all 0.3s linear;
    }
  }
  .shop_content {
    text-align: center;
    padding-top: 40px;
    h3 {
      font-size: 18px;
      font-weight: 700;
      transition: all 0.2s linear;
      margin-bottom: 2px;
      &:hover {
        color: $orange;
      }
    }
    .price {
      font-weight: 600;
      margin-top: 12px;
      .offer {
        display: inline-block;
        font-size: 10px;
        background: #e3fbc7;
        padding: 4px 15px;
        border-radius: 2px;
        line-height: 17px;
        color: #407402;
        margin-right: 4px;
      }
      del {
        font-size: 14px;
        color: #a8aaad;
        &:after {
          content: "";
          width: 5px;
          height: 2px;
          display: inline-block;
          background: #a8aaad;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
      ins {
        font-size: 18px;
        color: $orange;
        text-decoration: none;
      }
    }
    .rate {
      font-size: 18px;
      font-weight: 500;
      color: $pcolor;
    }
  }
  &:hover {
    .shop_img {
      img {
        transform: scale(1.03);
      }
    }
  }
}

/*============= cons_shop_promo_area css  ============*/
.cons_shop_promo_area {
  display: flex;
  flex-wrap: wrap;
}
.cons_shop_promo_left {
  width: calc(50% - 585px);
}
.cons_shop_promo_right {
  width: calc(50% + 585px);
}
.pr_promo_info {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  .col_custome {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo_pr_item {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center right !important;
    border-radius: 2px;
    padding: 140px 0px 70px 70px;
    .content {
      max-width: 215px;
      .price {
        font-size: 72px;
        font-weight: 600;
        color: #cd716f;
        margin-bottom: 35px;
        sup {
          font-weight: 700;
          font-size: 47px;
        }
        sub {
          text-transform: uppercase;
          font-size: 18px;
          right: 38px;
          bottom: 0;
        }
        &.yellow {
          color: $orange;
        }
      }
      h3 {
        font-size: 24px;
        line-height: 38px;
        font-weight: 700;
        margin-bottom: 60px;
      }
    }
    &.one {
      .content {
        .theme_btn {
          background: #cd716f;
        }
      }
    }
  }
}
/*============= cons_shop_promo_area css  ============*/

/* Product Area css
============================================================================================ */
.product_area {
  .section_title_one {
    margin-bottom: 80px;
  }
  .product_inner {
    margin-bottom: -100px;
  }
  .pagination_area {
    margin-top: 115px;
    margin-bottom: 50px;
    .pagination {
      margin-bottom: 0px;
    }
  }
}
.product_item {
  overflow: hidden;
  margin-bottom: 100px;
  .product_img {
    position: relative;
    overflow: hidden;
    img {
      transform: scale(1);
      @include transition;
    }
    &:before {
      content: "";
      background: rgba($orange, 0.9);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all 300ms ease;
    }
    .heart_icon {
      position: absolute;
      right: 30px;
      top: 30px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      font-size: 14px;
      color: $orange;
      background: #f2e1c2;
      transform: scale(0.9);
      opacity: 0;
      @include transition;
    }
    .theme_btn_two {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
      padding: 0px;
      width: 170px;
      height: 50px;
      opacity: 0;
      @include transition;
    }
  }
  .product_text {
    text-align: center;
    margin-top: 30px;
    h4 {
      font: 700 18px $mon;
      margin-bottom: 12px;
    }
    p {
      font: 500 18px $mon;
      margin-bottom: 0px;
    }
  }
  &:hover {
    .product_img {
      &:before {
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
      .heart_icon {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
      }
      .theme_btn_two {
        bottom: 30px;
        opacity: 1;
      }
    }
  }
}
/* End Product Area css
============================================================================================ */

/* Product Details Area css
============================================================================================ */
.p_details_img {
  margin-right: -30px;
}
.p_details_text {
  margin-left: 100px;
  margin-top: 0px;
  h3 {
    font: 700 36px $mon;
    margin-bottom: 35px;
    margin-top: 10px;
  }
  h5 {
    font: 400 24px $mon;
    color: $h_color;
    margin-bottom: 35px;
  }
  p {
    margin-bottom: 50px;
  }
  .product_count {
    position: relative;
    display: inline-block;
    input {
      width: 170px;
      height: 65px;
      border: 2px solid #f4f4f4;
      outline: none;
      box-shadow: none;
      text-align: center;
      font: 400 15px/65px $mon;
      color: $pcolor;
      padding: 0px 60px;
      @include placeholder {
        font: 400 15px/65px $mon;
        color: $pcolor;
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      padding: 0px;
      background: transparent;
      i {
        font-style: normal;
        font: 400 15px $mon;
        color: $pcolor;
        cursor: pointer;
      }
    }
    .reduced {
      left: 30px;
    }
    .increase {
      right: 30px;
    }
  }
  .theme_btn_two {
    background: $orange;
    color: #fff;
    height: 65px;
    width: 270px;
    font-size: 18px;
    &:after {
      background: #222;
    }
  }
  .team_list {
    margin-top: 50px;
  }
  .share_icon {
    margin-top: 65px;
  }
}
.p_details_tab {
  margin-top: 85px;
  margin-bottom: 180px;
  .nav-tabs {
    li {
      margin-bottom: 0px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0px;
      }
      a {
        border: none;
        font: 700 18px $mon;
        color: $pcolor;
        padding: 16px 30px;
        position: relative;
        &:before {
          content: "";
          width: 0px;
          height: 1px;
          background: $orange;
          position: absolute;
          bottom: -1px;
          left: 0px;
          @include transition;
        }
        &:hover,
        &.active {
          color: $h_color !important;
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
  .tab-pane {
    margin-top: 90px;
    h4 {
      color: $h_color;
      font: 700 24px $mon;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 0px;
    }
  }
}
.interested_product {
  margin-bottom: 50px;
  .product_inner {
    margin-bottom: -100px;
  }
}
/* End Product Details Area css
============================================================================================ */
