/*============== cons_team_area css ==============*/
.cons_team_area {
  padding: 100px 0px 200px;
}
.team_img_info {
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  z-index: 1;
  .dot_middle {
    right: 0;
    left: auto;
  }
  .cons_team_col {
    &:nth-child(even) {
      margin-top: 140px;
    }
  }
}
.cons_team_item {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
  display: block;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $orange;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.4s;
  }
  img {
    transition: all 0.4s linear;
    position: relative;
    z-index: -1;
  }
  &:hover {
    &:before {
      opacity: 0.55;
    }
    img {
      transform: scale(1.05);
    }
  }
}
.team_img_info_two {
  .cons_team_col {
    .cons_team_item {
      display: inline-block;
      img {
        width: 100%;
      }
    }
    &.col-sm-5 {
      padding-left: 5px;
    }
  }
}
/*============== cons_team_area css ==============*/

/*============== cons_team area_two css ==============*/
.cons_team_area_two {
  padding: 100px 0px;
}
.cons_team_item_two {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s linear;
  cursor: pointer;
  .team_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background: $orange;
    transition: opacity 0.3s linear;
    opacity: 0;
    .text {
      width: 100%;
      ul {
        margin-bottom: 52px;
        li {
          display: inline-flex;
          margin: 0px 7px;
          transform: scale(0);
          @for $i from 1 through 21 {
            &:nth-child(#{$i}) {
              transition: $i * 250ms;
            }
          }
          a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background: #f28b2c;
            line-height: 40px;
            &:hover {
              background: #363d48;
              color: #fff;
            }
          }
        }
      }
      h5 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
        opacity: 0;
      }
      .position {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        opacity: 0;
      }
      h5,
      .position {
        color: #fff;
      }
    }
  }
  &:hover {
    box-shadow: 0px 45px 150px 0px rgba(30, 34, 40, 0.2);
    .team_content {
      opacity: 1;
      .text {
        ul {
          li {
            transform: scale(1);
          }
        }
        h5 {
          animation: fadeInUp 0.3s linear both;
          opacity: 1;
        }
        .position {
          animation: fadeInUp 0.5s linear both;
          opacity: 1;
        }
      }
    }
  }
}
/*============== cons_team_area two css ==============*/

/*============== cons_subscribe_area  css ==============*/
.cons_subscribe_info {
  max-width: 1170px;
  border-radius: 2px;
  box-shadow: 0px 45px 150px 0px rgba(30, 34, 40, 0.1);
  margin: 0 auto;
  padding: 120px 0px 130px;
  position: relative;
  z-index: 1;
  .cons_subscribe_content {
    max-width: 570px;
    margin: 0 auto;
  }
  .section_title_one {
    h2,
    p {
      color: #fff;
    }
    .title_head {
      margin-bottom: 28px;
    }
  }
  &.bg_white {
    background: #fff;
    .section_title_one {
      h2 {
        color: $h_color;
      }
      p {
        color: $pcolor;
      }
    }
    .cons_subscribe_form .form-control {
      border-color: #e5e5e6;
      color: #7e8288;
      @include placeholder {
        color: #7e8288;
      }
    }
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1e2228;
  opacity: 0.6;
  z-index: -1;
}
.cons_subscribe_form {
  display: flex;
  flex-wrap: wrap;
  .form-control {
    flex: 1;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    background: transparent;
    padding-left: 30px;
    font-size: 15px;
    font-family: $mon;
    color: #ffff;
    box-shadow: none;
    @include placeholder {
      color: #fff;
    }
  }
  .theme_btn {
    border: 0px;
    margin-left: 20px;
    background: $orange;
    padding-left: 67px;
    padding-right: 67px;
    color: #fff;
    &:after {
      background: #222;
    }
  }
}

/*============== cons_subscribe_area  css ==============*/

/*============== cons_clients_logo_area  css ==============*/
.cons_clients_logo_area {
  padding-top: 200px;
}
.clients_logo_inner {
  display: flex;
  flex-wrap: wrap;
}
.clients_logo {
  width: calc(100% / 5);
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  img {
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
    max-width: 100%;
    & + img {
      top: 150%;
      opacity: 0;
      left: 50%;
      transform: translateX(-50%);
      visibility: hidden;
      position: absolute;
    }
  }
  &:hover {
    img {
      opacity: 1;
      transform: translateY(-100%);
      & + img {
        top: 0;
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 0%);
      }
    }
  }
}
/*============== cons_clients_logo_area  css ==============*/

/*============== cons_logo_area_three  css ==============*/
.cons_logo_area_three {
  padding: 100px 0px;
  .clients_logo {
    width: calc(100% / 4);
  }
}
/*============== cons_logo_area_three  css ==============*/

/*============== cons_logo_area_four  css ==============*/
.cons_logo_area_four {
  padding: 100px 0px;
  .clients_logo_inner {
    margin-bottom: -100px;
  }
  .clients_logo {
    width: calc(100% / 3);
    margin-bottom: 100px;
  }
}
.pt_200 {
  padding-top: 200px;
}
/*============== cons_logo_area_four  css ==============*/

/*============== cons_fact_area  css ==============*/
.cons_fact_area {
  padding-top: 100px;
}
.fact_item {
  text-align: center;
  h3 {
    font-size: 60px;
    font-weight: 600;
    color: $orange;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 0;
  }
}
/*============== cons_fact_area  css ==============*/

/*============== cons_subscribe_area_two css ==============*/
.cons_subscribe_area_two {
  .cons_subscribe_info {
    .section_title_one {
      h2 {
        color: $h_color;
      }
      p {
        color: $pcolor;
      }
    }
    .cons_subscribe_form .form-control {
      border-color: rgba(168, 170, 173, 0.3);
      background-color: rgba(255, 255, 255, 0.3);
      color: $h_color;
      @include placeholder {
        color: $pcolor;
      }
    }
  }
  .cons_subscribe_info_two {
    .section_title_one {
      .title_top,
      .title_head,
      p {
        color: #fff;
      }
    }
    .cons_subscribe_form {
      .form-control {
        background: transparent;
        color: #fff;
        @include placeholder {
          color: #fff;
        }
      }
    }
  }
}
.cons_subscribe_area_three {
  padding: 100px 0px 50px;
  .cons_subscribe_info_two {
    padding: 150px 0px;
  }
}
.cons_subscribe_area_four {
  .cons_subscribe_info_two {
    padding: 100px 0px;
  }
}
.cons_subscribe_area_two {
  .cons_ecommerce_subscribe {
    max-width: 570px;
    margin-left: 100px;
    .section_title_one {
      margin-bottom: 60px;
    }
    .cons_subscribe_form {
      .form-control {
        background-color: rgba(255, 255, 255, 0.42);
        border-color: rgba(255, 255, 255, 0.32);
      }
    }
  }
}

/*============== cons_subscribe_area_two css ==============*/

/*============== cons_fact_area_two css ==============*/
.cons_fact_area_two {
  padding: 100px 0px;
}
/*============== cons_fact_area_two css ==============*/

/*============== cons_fact_area_three css ==============*/
.cons_facts_area_three {
  .cons_facts_info {
    margin-top: -80px;
  }
  .fact_item {
    margin-top: 80px;
  }
}
.exprence_number {
  display: inline-block;
  .number {
    font-size: 350px;
    font-weight: 700;
    background: url(../img/home-17/text_img.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 274px;
    background-size: contain;
    display: inline-block;
  }
  h4 {
    font-size: 36px;
    font-weight: 700;
    color: $h_color;
    position: absolute;
    top: 50%;
    right: 90px;
    transform: translateY(-50%);
  }
}
/*============== cons_fact_area_three css ==============*/

/*============== cons_subscribe_area_three css ==============*/
.cons_subscribe_area_three {
  .cons_contact_info_two {
    background: $orange;
    padding: 138px 150px;
  }
  .cons_subscribe_form {
    .form-control {
      border-color: #fff;
    }
    .theme_btn_two {
      border: 0px;
      margin-left: 20px;
      &:after {
        background: $h_color;
      }
    }
  }
}
.subscribe_content {
  h5 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.1px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
  }
  p {
    color: #fff;
    margin-bottom: 0;
  }
}
/*============== cons_subscribe_area_three css ==============*/
/*============== cons_logo_area_five css ==============*/
.cons_logo_area_five {
  padding-bottom: 200px;
}
/*============== cons_logo_area_five css ==============*/

/*============== cons_team_area_three css ==============*/
.cons_team_area_three {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 0px 100px;
  .cons_team_left {
    width: calc(50% + 85px);
  }
  .cons_team_right {
    width: calc(50% - 85px);
    padding-left: 130px;
    .custom_arrow {
      margin-top: 50px;
    }
  }
}
.cons_team_slider {
  max-width: 670px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 0 !important;
  .cons_team_slider_item {
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 0;
    img {
      border-radius: 2px;
      margin-left: 30px;
      transform: translateX(50%);
      opacity: 0;
      transform-origin: 100% 50%;
      transition: opacity 0.5s ease, -webkit-transform 0.8s ease-out 0.1s;
      transition: transform 0.8s ease-out 0.1s, opacity 0.5s ease;
    }
    p {
      margin-bottom: 0;
    }
    h6,
    h2,
    p {
      animation: slideOutLeft 0.6s both;
    }
  }
  .slick-active {
    .cons_team_slider_item {
      img {
        transform: translateX(0);
        opacity: 1;
      }
      h6 {
        animation: slideInLeft 0.7s both 0.7s;
      }
      h2 {
        animation: slideInLeft 0.7s both 1s;
      }
      p {
        animation: slideInLeft 0.7s both 1.2s;
      }
    }
  }
  .slick-dots {
    text-align: right;
    position: relative;
    padding-top: 50px;
  }
}
.cons_team_thum_slider {
  margin-left: -15px;
  .slick-list {
    padding-left: 0 !important;
  }
  img {
    margin: 0px 15px;
    border-radius: 3px;
  }
}
.team_member {
  position: relative;
  padding-top: 70px;
  padding-bottom: 160px;
  z-index: 1;
  .item {
    display: inline-block;
    &:nth-child(1),
    &:nth-child(3) {
      position: absolute;
    }
    &:nth-child(2) {
      z-index: 2;
      position: relative;
    }
    &:nth-child(1) {
      right: 0;
      top: 0;
      z-index: 0;
    }
    &:nth-child(3) {
      right: 130px;
      bottom: -100px;
      z-index: 3;
    }
  }
}
/*============== cons_team_area_three css ==============*/
